# IDEs
*.idea

# bytecode files
*.pyc

# other
*__pycache__

# generated assembly files
*.s19
*.s07
*.lst

# generated compiler files
/program_files/CRAM/map.txt
/program_files/CRAM/outs19.txt
/program_files/CRAM/assem.txt
*.h

# config files
/program_files/qtgui/configs.ini